/* @charset "UTF-8";
#container {
	width: 1200px;
	margin: 20px auto;
}

#qna_form {
	width: 650px;
	margin: 0 auto;
}

#qna_form table {
	border-collapse: collapse;
	box-sizing: border-box;
	width: 100%;
}

#qna_form td {
	padding: 5px;
}

#qna_form table tr td:first-child {
	width: 500px;
	height: 40px;
}

#qna_form table tr:nth-child(2) {
	height: 100px;
}

#qna_form input, #qna_form textarea {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-sizing: border-box;
}

#qna_form textarea {
	padding: 5px;
	resize: none;
}

button {
	width: 100%;
	height: 140px;
}

.qna_title ul {
	font-size: 0px;
	padding: 0;
}

.qna_title li {
	display: inline-block;
	font-size: 16px;
	margin-right: 50px;
	box-sizing: border-box;
} */