@charset "UTF-8";

@media only screen and (min-width:960px) { /* 960px 이상의 브라우저 */
}

@media only screen and (min-width:1440px) { /* 1440px 이상의 브라우저 */
}

@media only screen and (min-width:2000px) { /* 2000px 이상의 브라우저 mac용 */
}

@media only screen and (max-device-width:480px) {
	/*  480px 이하 iPhone용 */
}

@media only screen and (device-width:768px) { /* iPad용*/
}


body{
}
#container {
	margin: 0 auto;
	width: 80%;
	min-width: 1200px;
	min-height: 500px;
	padding-top: 100px;
}

#top {
	height: 100px;
	box-sizing: border-box;
	border-bottom: 5px solid #1E3269;
}

#faq_div {
	padding: 50px;
	display: block;
	border-bottom: 1px solid black;
}

#img_1 {
	box-sizing: border-box;
	float: left;
}

#img_2 {
	position: relative;
	display: block;
	left: 100px;
	margin-bottom: 10px;
}

#p_1 {
	position: absolute;
	left: 170px;
	width: 400px;
	box-sizing: border-box;
}

#sp_1 {
	width: 160px;
	font-size: 70px;
	box-sizing: border-box;
	text-align: center;
}

#sp_2 {
	position: absolute;
	width: 90px;
	font-size: 20px;
	color: #969696;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
	top: 55px;
}

#sp_3 {
	font-size: 30px;
	color: #FF8200;
}

#btn_faq_view {
	text-decoration: none;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	width: 200px;
	height: 50px;
	box-sizing: border-box;
	display: block;
	border-radius: 10px;
	background-color: #506EA5;
	border: 2px solid #506EA5;
	color: #fff;
}

#btn_faq_view:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

#not_login {
	position: relative;
	width: 480px;
	margin: 150px auto;
	margin-bottom: 200px;
}

#sendQnA {
	display: block;
	border: 1px solid;
	width: 600px;
	margin-left: 25%;
	border-radius: 6px;
	margin-top: 50px;
}

#sendQnA h1 {
	margin: 40px;
	color: #506EA5;
}

td, th {
	padding: 10px 5px;
	box-sizing: border-box;
	text-align: center;
	font-size: 20px;
}

td input {
	width: 350px;
	height: 30px;
}

td textarea {
	width: 350px;
	height: 120px;
}

#table_qna {
	margin: 50px;
}

#btn_submit {
	margin-top: 20px;
	width: 355px;
	height: 50px;
	border-radius: 5px;
	background-color: #506EA5;
	color: white;
}

#btn_submit:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

#btn_delete {
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	width: 80px;
	height: 50px;
	box-sizing: border-box;
	display: block;
	border-radius: 10px;
	background-color: #506EA5;
	border: 2px solid #506EA5;
	color: #fff;
	float: right;
}

#btn_delete:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

#qna_list {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#qna_list span {
	color: E56D29;
}

#MY {
	margin-top: 100px;
	padding: 50px;
	background-color: #506EA5;
}

#MY h1 {
	color: white;
}

.result {
	width: 1100px;
	padding: 20px;
	word-break: break-all;
	padding-top: 70px;
}

#result_1 {
	font-weight: bold;
	width: 100px;
}

#response_yet {
	display: block;
	width: 1000px;
	padding: 50px;
	border-top: 1px solid black;
	border-bottom: 3px solid #1E3269;
}

#response_yet_span {
	font-size: 20px;
	color: #FF8224;
	text-align: center;
}

#response {
	display: block;
	width: 1000px;
	padding: 50px;
	border-top: 1px solid black;
	border-bottom: 3px solid #1E3269;
}

#response_content {
	width: 800px;
	font-weight: bold;
	word-break: break-all;
	color: #2478FF;
	font-size: 20px;
}

#response_date {
	color: #BDBDBD;
}